html, body {
    height: 100%;
    margin: 0;
}

/*======================================================================================*/
/*===================================== Login Screen ===================================*/
/*======================================================================================*/

#login-screen-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-image: url("./server/takiImages/bg.jpg");
    background-size: cover;
}

#login-screen-inner-container {
    height: fit-content;
    width: fit-content;
    align-self: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(200, 200, 200, 0.7);
    border-radius: 15px;
    border: black groove thin;
    box-shadow: 5px 5px 30px black;
    min-height: fit-content;
    min-width: fit-content;
}

#login-screen-inner-container input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: #004b00 wave 1px;
    border-radius: 4px;
    cursor: pointer;
}

#login-screen-inner-container input[type=submit]:hover {
    background-color: #45a049;
}

#login-screen-inner-container input[type=text], #login-screen-inner-container select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login-screen-inner-container > p {
    text-align: center;
}

/*======================================================================================*/
/*====================================== Games Room ====================================*/
/*======================================================================================*/

#games-room-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*position: absolute;*/
    background-image: url("./server/takiImages/bg.jpg");
    background-size: cover;
    position: fixed;
    overflow: auto;
}

/*======================================================================================*/
/*=================================== Games Room =======================================*/
/*=================================== -> Players List ==================================*/
/*======================================================================================*/

#players-list-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 15px;
    background: rgba(200, 200, 200, 0.6);
    text-align: center;
    height: 90%;
    align-self: center;
    box-shadow: 1px 1px 10px black;
    font-size: 2vw;
    min-height: fit-content;
    min-width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#logout-button {
    margin: 0 10px 10px 10px;
    width: fit-content;
    align-self: center;
}

#logged-in-players-table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 99%;
    align-self: center;
}

#logged-in-players-table tbody {
    background: rgba(255, 255, 255, 0.9);
}

#logged-in-players-table td {
    padding: 5px 15px 5px 15px;
    border-left: none;
    border-right: none;
    text-align: left;
}

#logged-in-players-table th {
    padding: 5px 15px 5px 15px;
    border: none;
    background: none;
}

#logged-in-players-table tbody tr:hover {
    background-color: #cadcff;
}

/*======================================================================================*/
/*=================================== Games Room =======================================*/
/*=================================== -> Games List ====================================*/
/*======================================================================================*/

#games-list-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    background: rgba(200, 200, 200, 0.6);
    text-align: center;
    height: 90%;
    align-self: center;
    box-shadow: 1px 1px 10px black;
    font-size: 2vw;
    min-height: fit-content;
    min-width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
}

#games-list-container table {
    border-collapse: collapse;
    width: 99%;
    align-self: center;
    text-align: center;
}

#games-list-container tbody {
    background: rgba(255, 255, 255, 0.9);
}

#games-list-container td {
    padding: 5px 15px 5px 15px;
    border-left: none;
    border-right: none;
}

#games-list-container th {
    padding: 10px 15px 10px 15px;
    border: none;
    background: none;
}

#games-list-container tbody tr:hover {
    background-color: #cadcff;
}

#games-list-container button {
    width: fit-content;
    margin: 5px;
}

#add-game-button {
    align-self: center;
}

#cancel-btn {
    align-self: flex-end;
    margin: 0 10px 10px 0
}

#add-new-game-container {
    position: inherit;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
}

#add-new-game-form-container {
    position: inherit;
    height: fit-content;
    width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 15px;
    border: black groove thin;
    box-shadow: 5px 5px 30px black;
    min-height: fit-content;
    min-width: fit-content;
}

#add-new-game-form-container form {
    align-self: center;
    margin: 0 20px 20px 20px;
}

#add-new-game-form-container form > input, select {
    border-radius: 5px;
    margin: 0 20px 0 0;
    text-align: center;
}

/*======================================================================================*/
/*================================== Active Game Screen ================================*/
/*======================================================================================*/

#active-game-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    background-image: url("./server/takiImages/bg.jpg");
    background-size: cover;
}

#play-area-div {
    width: 70%;
}

/*======================================================================================*/
/*================================== Active Game Screen ================================*/
/*==================================== -> Statistics ===================================*/
/*======================================================================================*/

#statistics-div {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

#statistics-container {
    z-index: 2;
    float: right;
    height: fit-content;
    width: 80%;
    align-self: center;
    margin: 5%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(200, 200, 200, 0.6);
    border-radius: 15px;
    border: black groove thin;
    box-shadow: 5px 5px 30px black;
    font-size: 2vw;
    min-height: fit-content;
    min-width: fit-content;
}

#statistics-container > h5 {
    margin: 15px 0 0 0;
}

#cardsRemainingTable {
    width: 96%;
    margin: 2%;
    border-collapse: collapse;
}

#cardsRemainingTable {
    margin-top: 10px;
    border-collapse: collapse;
    width: 99%;
    align-self: center;
}

#cardsRemainingTable thead {
    background: #86c7ff;
    font-weight: bolder;
}

#cardsRemainingTable tbody {
    background: aliceblue;
}

/*======================================================================================*/
/*================================== Active Game Screen ================================*/
/*==================================== -> Playing Table ================================*/
/*======================================================================================*/

#playing_table_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#player-and-table-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#player-container {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}


/*======================================================================================*/
/*================================== Active Game Screen ================================*/
/*================================== -> Chat ===========================================*/
/*======================================================================================*/

.chat-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0 5% 10% 5%;
}

.chat-container .conversation-area-wrapper {
    height: inherit;
    border: 1px solid #ccc;
    padding: 8px;
    overflow-y: auto;
    margin-bottom: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.chat-container .conversation-area-wrapper p {
    margin: 0 0 8px 0;
    word-wrap: break-word;
    border-bottom: #c0c0c08a solid thin;
}

.chat-container .chat-input-wrapper {
    width: 99%;
    display: flex;
}

#chat-text-input {
    font-size: small;
    padding: 8px;
    width: inherit;
    border-radius: 5px;
}

.chat-input-wrapper .btn {
    width: fit-content;
    margin: 0 2px 0 5px;
    border-radius: 5px;
}

/*======================================================================================*/
/*====================================== Overlays ======================================*/
/*======================================================================================*/

#colorPicker {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgba(200, 200, 200, 0.9);
}

.screen-overlay {
    z-index: 9999;
    position: absolute;
    width: 70%;
    height: 30%;
    display: none;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(200, 200, 200, 0.7);
}

.screen-overlay > h1 {
    text-shadow: 0 0 10px whitesmoke;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: rgba(201, 200, 245, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

#playerWonScreen {
    z-index: 999;
    display: flex;
    position: absolute;
    width: 70%;
    height: 70%;
    background: rgba(200, 200, 200, 0.9);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}

#playerWonScreen > button {
    flex-shrink: 0
}

#playerWonScreen table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 99%;
    align-self: center;
}

#playerWonScreen table thead {
    background: #86c7ff;
    font-weight: bolder;
}

#playerWonScreen table tbody {
    background: aliceblue;
}

/*======================================================================================*/
/*=================================== Game Elements ====================================*/
/*======================================================================================*/

#deck {
    alignment: right;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 7vw;
    border: black groove thin;
    border-radius: 5px;
    font-size: 4vw;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #9c9c9c;
    text-align: center;
    margin: 10px 5px;
    flex-shrink: 0;
    position: relative;
}

.card:before {
    content: "";
    display: block;
    padding-top: 150%;
}

.textCard {
    font-size: 1.8vw !important;
}

.noColor {
    color: GrayText;
    background: #f5f5f5;
}

.red {
    color: red;
    background-color: #f5c8c8;
}

.blue {
    color: blue;
    background-color: #c9c8f5;
}

.yellow {
    color: orange;
    background-color: #f4f5c8;
}

.green {
    color: green;
    background-color: #c8f5c8;
}

.clickable-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.15);
}

.backOfCard {
    background-image: url("./server/takiImages/backOfCard.jpg");
    background-size: cover;
}

.deckCard {
    transform: rotate(-45deg);
}

.highlightDeck {
    transform: scale(1.2);
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

/*======================================================================================*/
/*======================================= General ======================================*/
/*======================================================================================*/

th, td {
    border-collapse: collapse;
    border: 1px solid black;
    white-space: nowrap;
    text-align: center;
    font-size: 1.5vw;
    padding: 5px;
}

.bold {
    font-weight: bold;
    text-shadow: 1px 1px rgba(200, 200, 200, 0.3);
}

.error {
    text-align: center;
    color: red;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.6;
}

button {
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border: none;
    padding: 5px 10px;
    flex-shrink: unset;
    min-height: fit-content;
    min-width: fit-content;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

/*======================================================================================*/
/*===================================== Animations =====================================*/
/*======================================================================================*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}

.fadeIn {
    animation: fadeIn 2s;
}

.fadeOut {
    animation: fadeIn 0.1s;
    animation-direction: reverse;
    opacity: 0;
}

#notificationDiv {
    width: fit-content;
    height: fit-content;
    padding: 0.3em 1em;
    align-self: center;
    background: rgba(200, 200, 200, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: black groove thin;
    border-radius: 3px;
}

@keyframes change-to-red {
    0% {
        background: radial-gradient(#f5f5f5 100%, #f5c8c8);
    }
    10% {
        background: radial-gradient(#f5f5f5 90%, #f5c8c8);
    }
    20% {
        background: radial-gradient(#f5f5f5 80%, #f5c8c8);
    }
    30% {
        background: radial-gradient(#f5f5f5 70%, #f5c8c8);
    }
    40% {
        background: radial-gradient(#f5f5f5 60%, #f5c8c8);
    }
    50% {
        background: radial-gradient(#f5f5f5 50%, #f5c8c8);
    }
    60% {
        background: radial-gradient(#f5f5f5 40%, #f5c8c8);
    }
    70% {
        background: radial-gradient(#f5f5f5 30%, #f5c8c8);
    }
    80% {
        background: radial-gradient(#f5f5f5 20%, #f5c8c8);
    }
    90% {
        background: radial-gradient(#f5f5f5 10%, #f5c8c8);
    }
    100% {
        background: radial-gradient(#f5f5f5 0%, #f5c8c8);
    }
}

@keyframes change-to-green {
    0% {
        background: radial-gradient(#f5f5f5 100%, #64ff64);
    }
    10% {
        background: radial-gradient(#f5f5f5 90%, #64ff64);
    }
    20% {
        background: radial-gradient(#f5f5f5 80%, #64ff64);
    }
    30% {
        background: radial-gradient(#f5f5f5 70%, #64ff64);
    }
    40% {
        background: radial-gradient(#f5f5f5 60%, #64ff64);
    }
    50% {
        background: radial-gradient(#f5f5f5 50%, #64ff64);
    }
    60% {
        background: radial-gradient(#f5f5f5 40%, #64ff64);
    }
    70% {
        background: radial-gradient(#f5f5f5 30%, #64ff64);
    }
    80% {
        background: radial-gradient(#f5f5f5 20%, #64ff64);
    }
    90% {
        background: radial-gradient(#f5f5f5 10%, #64ff64);
    }
    100% {
        background: radial-gradient(#f5f5f5 0%, #64ff64);
    }
}

@keyframes change-to-blue {
    0% {
        background: radial-gradient(#f5f5f5 100%, #6464ff);
    }
    10% {
        background: radial-gradient(#f5f5f5 90%, #6464ff);
    }
    20% {
        background: radial-gradient(#f5f5f5 80%, #6464ff);
    }
    30% {
        background: radial-gradient(#f5f5f5 70%, #6464ff);
    }
    40% {
        background: radial-gradient(#f5f5f5 60%, #6464ff);
    }
    50% {
        background: radial-gradient(#f5f5f5 50%, #6464ff);
    }
    60% {
        background: radial-gradient(#f5f5f5 40%, #6464ff);
    }
    70% {
        background: radial-gradient(#f5f5f5 30%, #6464ff);
    }
    80% {
        background: radial-gradient(#f5f5f5 20%, #6464ff);
    }
    90% {
        background: radial-gradient(#f5f5f5 10%, #6464ff);
    }
    100% {
        background: radial-gradient(#f5f5f5 0%, #6464ff);
    }
}

@keyframes change-to-yellow {
    0% {
        background: radial-gradient(#f5f5f5 100%, #ffff64);
    }
    10% {
        background: radial-gradient(#f5f5f5 90%, #ffff64);
    }
    20% {
        background: radial-gradient(#f5f5f5 80%, #ffff64);
    }
    30% {
        background: radial-gradient(#f5f5f5 70%, #ffff64);
    }
    40% {
        background: radial-gradient(#f5f5f5 60%, #ffff64);
    }
    50% {
        background: radial-gradient(#f5f5f5 50%, #ffff64);
    }
    60% {
        background: radial-gradient(#f5f5f5 40%, #ffff64);
    }
    70% {
        background: radial-gradient(#f5f5f5 30%, #ffff64);
    }
    80% {
        background: radial-gradient(#f5f5f5 20%, #ffff64);
    }
    90% {
        background: radial-gradient(#f5f5f5 10%, #ffff64);
    }
    100% {
        background: radial-gradient(#f5f5f5 0%, #ffff64);
    }
}

.change-to-red {
    animation: change-to-red 800ms;
}

.change-to-green {
    animation: change-to-green 800ms;
}

.change-to-blue {
    animation: change-to-blue 800ms;
}

.change-to-yellow {
    animation: change-to-yellow 800ms;
}
